/* Sass Mixins */
/* Breakpoints */
/* SVG Encoder */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Lobster");
.front-page-scroll-enable {
  overflow: auto !important; }

.front-page {
  position: relative;
  background-color: #fff;
  height: 100%;
  overflow: hidden; }
  .front-page .container {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative; }
  .front-page__content {
    flex-basis: 100%;
    margin-top: -20%;
    position: relative;
    text-align: center;
    z-index: 1; }
    @media (min-width: 40rem) {
      .front-page__content {
        margin-top: 0; } }
    @media (min-width: 48rem) {
      .front-page__content {
        margin-top: -10rem;
        text-align: left; } }
    .front-page__content h1 {
      font-size: 3.5rem;
      font-weight: 700;
      color: #444;
      font-family: 'Covered By Your Grace', cursive;
      letter-spacing: 7px;
      margin-bottom: 1rem; }
    .front-page__content h1:after {
      display: inline-block;
      content: '.';
      font-size: 3.5rem;
      opacity: 1;
      margin-left: 0.2rem; }
      @media (min-width: 48rem) {
        .front-page__content h1:after {
          margin-left: 1.2rem; } }
    .front-page__content h2 {
      font-size: 28px;
      margin-top: 0.5rem;
      font-weight: 300;
      margin-bottom: 1.5rem; }
      @media (min-width: 48rem) {
        .front-page__content h2 {
          font-size: 30px; } }
    .front-page__content p {
      font-size: 0.875rem;
      line-height: 1.5rem;
      max-width: 40rem;
      color: #505050; }
      @media (min-width: 48rem) {
        .front-page__content p {
          font-size: 1rem; } }
    .front-page__content .divider {
      width: 7rem;
      height: 0.0625rem;
      background: #404040;
      margin: 1rem auto; }
      @media (min-width: 48rem) {
        .front-page__content .divider {
          margin: 1rem 0; } }
    .front-page__content ul {
      display: block;
      margin-top: 1.25rem;
      height: 3rem; }
    .front-page__content li {
      display: inline-block; }
    .front-page__content li:not(:first-of-type) {
      margin-left: .875rem; }
      @media (min-width: 48rem) {
        .front-page__content li:not(:first-of-type) {
          margin-left: 1.25rem; } }
    .front-page__content li:nth-child(4) {
      margin-right: 1rem; }
    .front-page__content li:nth-child(2) .icon-profession {
      fill: #909090; }
    .front-page__content .icon-profession {
      width: 2.65rem;
      fill: #707070; }
      @media (min-width: 48rem) {
        .front-page__content .icon-profession {
          width: 3rem; } }
  .front-page img {
    position: absolute;
    width: 1160px;
    bottom: -50%;
    right: -50%;
    z-index: 0;
    opacity: 0.03; }
    @media (min-width: 60rem) {
      .front-page img {
        width: 430px;
        bottom: -5rem;
        right: 0;
        opacity: 1; } }
  .front-page .arrow-down {
    width: 40px;
    position: absolute;
    left: 45%;
    bottom: 1rem;
    opacity: 0.7;
    cursor: pointer; }
    @media (min-width: 48rem) {
      .front-page .arrow-down {
        bottom: 11rem;
        width: 50px; } }
    @media (min-width: 60rem) {
      .front-page .arrow-down {
        left: 45%; } }

.icon-profession-active {
  fill: #e08f59 !important; }
  @media (min-width: 48rem) {
    .icon-profession-active {
      fill: #473025 !important; } }

.my-avatar {
  content: "";
  background: url(/static/media/smoke-sheep.3ef0f1bd.gif);
  background-repeat: no-repeat;
  background-size: 104px 140px;
  background-position: 17px 20px;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  box-shadow: 1px 2px 10px #c5c5c5;
  background-color: #fff;
  margin: auto; }

.frontSecondPageContent {
  display: flex;
  margin: 0;
  width: 100%;
  padding: 15% 0; }
  @media (min-width: 48rem) {
    .frontSecondPageContent {
      padding-top: 10%; } }
  .frontSecondPageContent__contact {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%; }
    @media (min-width: 48rem) {
      .frontSecondPageContent__contact {
        flex-basis: 230px; } }
    .frontSecondPageContent__contact h3 {
      margin: 1rem 0 0 0; }
    .frontSecondPageContent__contact--avatar {
      background: #f8f8f8;
      padding: 1rem;
      text-align: center;
      box-shadow: 2px 1px 5px #e5e5e5;
      flex-basis: 100%; }
      .frontSecondPageContent__contact--avatar svg {
        fill: #040404;
        width: 25px; }
      .frontSecondPageContent__contact--avatar .svg-icon {
        display: inline-block;
        border-radius: 100%;
        padding: .75rem;
        margin: 1rem 1rem .5rem 1rem;
        height: 22px;
        cursor: pointer;
        box-shadow: 1px 2px 10px #c5c5c5; }
      .frontSecondPageContent__contact--avatar .svg-icon:first-child {
        background: #202020; }
        .frontSecondPageContent__contact--avatar .svg-icon:first-child svg {
          fill: #fff; }
    .frontSecondPageContent__contact--map {
      flex: 1;
      margin-top: 1.125rem;
      flex-basis: 0; }
      @media (min-width: 48rem) {
        .frontSecondPageContent__contact--map {
          flex-basis: 100%;
          box-shadow: 2px 1px 5px #e5e5e5;
          margin-top: 0; } }
    .frontSecondPageContent__contact--info {
      font-size: 0.76rem;
      background: #f8f8f8;
      margin-top: 1.125rem;
      margin-right: 1.125rem;
      box-shadow: 2px 1px 5px #e5e5e5;
      flex-basis: 50%; }
      @media (min-width: 48rem) {
        .frontSecondPageContent__contact--info {
          flex-basis: 100%;
          margin-right: 0; } }
      .frontSecondPageContent__contact--info table {
        padding: 1rem;
        margin: auto; }
      .frontSecondPageContent__contact--info tr {
        height: 2rem; }
      .frontSecondPageContent__contact--info td {
        vertical-align: middle;
        text-align: left; }
      .frontSecondPageContent__contact--info svg {
        width: 25px;
        fill: #606060; }

.header {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f9f9;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  height: 85%;
  bottom: 0;
  z-index: 100;
  box-shadow: 0px 1px 5px #a7a7a7;
  display: flex;
  transform: translateY(100%); }
  @media (min-width: 48rem) {
    .header {
      display: block;
      height: auto;
      box-shadow: none;
      border-top: 1px solid #e5e5e5;
      transform: translateY(0%); } }
  .header .container {
    display: flex;
    flex-wrap: wrap; }
  .header ul {
    list-style: none; }
  .header li {
    cursor: pointer; }
    .header li:hover {
      color: #222; }
    @media (min-width: 48rem) {
      .header li {
        float: left;
        margin-left: 1.5rem; } }
  .header__logo {
    font-size: 2.3125rem;
    font-weight: 800;
    flex-basis: 100%;
    text-align: center;
    cursor: default; }
    @media (min-width: 48rem) {
      .header__logo {
        flex-basis: 10rem;
        text-align: left; } }
    @media (min-width: 60rem) {
      .header__logo {
        flex-basis: 11.5rem; } }
    .header__logo span {
      vertical-align: middle; }
    .header__logo span:after {
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      background-color: #41b39e;
      display: inline-block;
      border-radius: 100%;
      margin-left: 0.5rem; }
      @media (min-width: 48rem) {
        .header__logo span:after {
          margin-left: 1rem; } }
  .header__menu {
    font-weight: 600;
    color: #707070;
    flex: 1;
    flex-basis: 100%; }
    @media (min-width: 48rem) {
      .header__menu {
        flex-basis: 20%; } }
    .header__menu ul {
      padding: 0;
      text-align: center;
      margin: 0.5rem 0; }
      @media (min-width: 48rem) {
        .header__menu ul {
          margin: 1rem 0; } }
    .header__menu li {
      margin: 1rem 0;
      -webkit-transition: all 0.3s;
      /* For Safari 3.1 to 6.0 */
      transition: all 0.3s;
      text-transform: uppercase; }
      @media (min-width: 48rem) {
        .header__menu li {
          margin-right: 0;
          margin-left: 1rem;
          margin-top: 0.4rem;
          text-transform: capitalize; } }
      @media (min-width: 60rem) {
        .header__menu li {
          margin-left: 2.4rem; } }
      @media (min-width: 48rem) {
        .header__menu li:hover {
          padding-bottom: 0.125rem;
          margin-top: 0.1rem;
          border-bottom: 1px solid #050505; } }
  .header__social-icons {
    margin: auto; }
    .header__social-icons svg {
      width: 1rem;
      fill: #707070; }
    .header__social-icons .icon-facebook {
      width: .75rem; }
    .header__social-icons .icon-linkedin {
      width: 1.25rem; }
    .header__social-icons .icon-github {
      width: 1.35rem; }
    .header__social-icons li:first-child {
      margin-left: 0; }
    .header__social-icons li {
      border: 1px solid #888;
      width: 35px;
      border-radius: 100px;
      height: 35px;
      display: flex;
      justify-content: center;
      margin-left: 1rem;
      -webkit-transition: all 0.5s;
      /* For Safari 3.1 to 6.0 */
      transition: all 0.5s;
      float: left; }
      .header__social-icons li:hover {
        background-color: #222; }
      .header__social-icons li:hover svg {
        fill: #fff; }

#root {
  height: 100%;
  width: 100%; }

.container {
  max-width: 80rem;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: content-box; }

.hamburger {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  z-index: 999;
  cursor: pointer; }
  @media (min-width: 48rem) {
    .hamburger {
      display: none; } }

.animate-popout {
  animation-name: popout;
  animation-duration: 0.5s; }

.animate-moveup {
  animation-name: moveup;
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

.animate-movedown {
  animation-name: movedown;
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

.animate-fadeout {
  animation-name: fadeout;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

.animate-fadein {
  animation-name: fadein;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

@keyframes popout {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes moveup {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0%); } }

@keyframes moveup {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0%); } }

@-webkit-keyframes movedown {
  from {
    transform: translateY(0%); }
  to {
    transform: translateY(100%); } }

/* Standard syntax */
@keyframes movedown {
  from {
    transform: translateY(0%); }
  to {
    transform: translateY(100%); } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 60%; }
  50% {
    opacity: 0;
    top: 60%; }
  100% {
    opacity: 0;
    top: 29%; } }

@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 60%; }
  50% {
    opacity: 0;
    top: 60%; }
  100% {
    opacity: 0;
    top: 29%; } }

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 60%; }
  50% {
    opacity: 0;
    top: 60%; }
  100% {
    opacity: 0;
    top: 29%; } }

.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 5%; }
  @media (min-width: 48rem) {
    .scroll-btn {
      bottom: 15%; } }

.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #E0E0E0;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px; }

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff; }

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 27px;
  height: 40px;
  margin: 0 auto 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #D8D8D8;
  border-radius: 20px; }
  @media (min-width: 48rem) {
    .scroll-btn .mouse {
      width: 27px;
      height: 40px; } }

.scroll-btn .mouse + span {
  color: #888; }

.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 7px;
  height: 7px;
  margin: -4px 0 0 -4px;
  background: #888;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite; }

html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  line-height: 1.25;
  letter-spacing: .025rem;
  color: #404040; }

body {
  margin: 0;
  padding: 0;
  height: 100%; }

.myApp {
  height: 100%;
  width: 100%; }

h1, h2 {
  margin: 0; }

ul {
  padding: 0; }

li {
  list-style: none; }
