/* Sass Mixins */
/* Breakpoints */
/* SVG Encoder */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
.front-page {
  background-color: #fff;
  height: 100%;
  overflow: hidden; }
  .front-page .container {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative; }
  .front-page__content {
    flex-basis: 60%;
    margin-top: -10rem;
    position: relative; }
    .front-page__content h1 {
      font-size: 2.5rem;
      text-shadow: 3px 1px 0px rgba(0, 0, 0, 0.11);
      font-weight: 700;
      color: #444; }
    .front-page__content h1:after {
      display: inline-block;
      content: '.';
      font-size: 3.5rem;
      opacity: 1;
      margin-left: 1.2rem; }
    .front-page__content h2 {
      font-size: 30px;
      margin-top: 0.5rem;
      font-weight: 300;
      margin-bottom: 1.5rem; }
    .front-page__content p {
      font-size: 1rem;
      line-height: 1.5rem;
      max-width: 39rem;
      color: #505050; }
    .front-page__content .divider {
      width: 7rem;
      height: 0.0625rem;
      background: #404040;
      margin: 1rem 0; }
    .front-page__content ul {
      display: block;
      margin-top: 1.25rem;
      height: 3rem; }
    .front-page__content li {
      display: inline-block; }
    .front-page__content li:not(:first-of-type) {
      margin-left: 1.25rem; }
    .front-page__content li:nth-child(4) {
      margin-right: 1rem; }
    .front-page__content li:nth-child(2) .icon-profession {
      fill: #909090; }
    .front-page__content .icon-profession {
      width: 3rem;
      fill: #707070; }
  .front-page img {
    position: absolute;
    width: 430px;
    bottom: -5rem;
    right: 0;
    z-index: 0; }
    @media (min-width: 60rem) {
      .front-page img {
        width: 480px; } }
  .front-page .arrow-down {
    width: 50px;
    position: absolute;
    left: 40%;
    bottom: 11rem;
    opacity: 0.7; }
    @media (min-width: 60rem) {
      .front-page .arrow-down {
        left: 45%; } }

.icon-profession-active {
  fill: #473025 !important; }

.header {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f9f9;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #e5e5e5;
  z-index: 100; }
  .header .container {
    display: flex; }
  .header ul {
    list-style: none; }
  .header li {
    float: left;
    margin-left: 1.5rem;
    cursor: pointer; }
    .header li:hover {
      color: #222; }
  .header__logo {
    font-size: 2.3125rem;
    font-weight: 800;
    flex-basis: 10rem;
    cursor: default; }
    @media (min-width: 60rem) {
      .header__logo {
        flex-basis: 11.5rem; } }
    .header__logo span {
      vertical-align: middle; }
    .header__logo span:after {
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      background-color: #41b39e;
      display: inline-block;
      border-radius: 100%;
      margin-left: 1rem; }
  .header__menu {
    font-weight: 600;
    color: #707070;
    flex: 1; }
    .header__menu ul {
      padding: 0;
      text-align: center; }
    .header__menu li {
      margin-top: 0.4rem;
      -webkit-transition: all 0.3s;
      /* For Safari 3.1 to 6.0 */
      transition: all 0.3s; }
      @media (min-width: 60rem) {
        .header__menu li {
          margin-left: 2.4rem; } }
      .header__menu li:hover {
        margin-top: 0.1rem;
        border-bottom: 1px solid #050505;
        padding-bottom: 0.125rem; }
  .header__social-icons svg {
    width: 1rem;
    fill: #707070; }
  .header__social-icons .icon-facebook {
    width: .75rem; }
  .header__social-icons .icon-linkedin {
    width: 1.25rem; }
  .header__social-icons .icon-github {
    width: 1.35rem; }
  .header__social-icons li {
    border: 1px solid #888;
    width: 35px;
    border-radius: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    -webkit-transition: all 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: all 0.5s; }
    .header__social-icons li:hover {
      background-color: #222; }
    .header__social-icons li:hover svg {
      fill: #fff; }

#root {
  height: 100%;
  width: 100%; }

.container {
  max-width: 80rem;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: content-box; }

.animate-popout {
  animation-name: popout;
  animation-duration: 0.5s; }

@keyframes popout {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1);
    opacity: 1; } }

html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  line-height: 1.25;
  letter-spacing: .025rem;
  color: #404040; }

body {
  margin: 0;
  padding: 0;
  height: 100%; }

.myApp {
  height: 100%;
  width: 100%; }

h1, h2 {
  margin: 0; }

ul {
  padding: 0; }

li {
  list-style: none; }
