.header{
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f9f9;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  height: 80%;
  bottom: 0;
  z-index: 100;
  box-shadow: 0px 1px 5px #a7a7a7;
  display: flex;

  @include breakpoint(m){
    display: block;
    height: auto;
    box-shadow: none;
    border-top: 1px solid #e5e5e5;
  }

  .container{
      display: flex;
      flex-wrap: wrap;
  }

  ul{
    list-style: none;
  }
  li{


    cursor: pointer;
    &:hover{
      color: #222;
    }
    @include breakpoint(m){
      float: left;
      margin-left: 1.5rem;
    }
  }

  &__logo{
    font-size: 2.3125rem;
    font-weight: 800;
    flex-basis: 100%;
    text-align: center;;
    cursor: default;
    @include breakpoint(m){
      flex-basis: 10rem;
      text-align: left;
    }
    @include breakpoint(l){
      flex-basis: 11.5rem;
    }

    span{
      vertical-align: middle;
    }
    span:after{
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      background-color: #41b39e;
      display: inline-block;
      border-radius: 100%;
      margin-left: 0.5rem;
      @include breakpoint(m){
        margin-left: 1rem;
      }
    }
  }

  &__menu{
    font-weight: 600;
    color: #707070;
    flex: 1;
    flex-basis: 100%;
    @include breakpoint(m){
      flex-basis: 20%;
    }
    ul{
      padding: 0;
      text-align: center;
      margin: 0.5rem 0;
      @include breakpoint(m){
        margin: 1rem 0;
      }
    }
    li{
      margin: 1rem 0;
      -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
      transition: all 0.3s;
      text-transform: uppercase;
      @include breakpoint(m){
        margin-right: 0;
        margin-left: 1rem;
        margin-top: 0.4rem;
        text-transform: capitalize;
      }
      @include breakpoint(l){
        margin-left: 2.4rem
      }

      &:hover{

        @include breakpoint(m){
          padding-bottom: 0.125rem;
          margin-top: 0.1rem;
          border-bottom: 1px solid #050505;
        }
      }
    }


  }

  &__social-icons{

    margin: auto;

    svg{
      width: 1rem;
      fill: #707070;
    }
    .icon-facebook{
      width: .75rem;
    }
    .icon-linkedin{
      width: 1.25rem;
    }
    .icon-github{
      width: 1.35rem;
    }
    li:first-child{
      margin-left: 0;
    }
    li{
      border: 1px solid #888;
      width: 35px;
      border-radius: 100px;
      height: 35px;
      display: flex;
      justify-content: center;
      margin-left: 1rem;
      -webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
      transition: all 0.5s;
      float: left;
      &:hover{
        background-color: #222;
      }
      &:hover svg{
        fill: #fff;
      }
    }
  }
}
