
.layout-left .album {
  margin-left: -30rem;
}
.layout-left .section {
  margin-right: -30rem;
}
.layout-right .album {
  margin-right: -30rem;
}
.layout-right .section {
  margin-left: -30rem;
}
.slider {
  position: relative;
  width: 100%;
  height: auto;
  background: #fff;
  display: flex;
  align-self: flex-start;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-flow: wrap row;
}

.slider .slider-container:nth-child(2n) .section {
  margin-right: -30rem;
}
.slider .slider-container:nth-child(2n+1) .section {
  margin-left: -30rem;
}

.slider .slider-container {
  box-shadow: 0 0 2.2rem #6e6e6e;
  background: #fff;
  width: 100%;
}
.slider .slider-container .inner-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-self: flex-start;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;

}
.slider .slider-container .inner-container .sliding-block {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-self: flex-start;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
}
.slider .slider-container .inner-container .static-block {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-self: flex-start;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
}
.slider .slider-container .inner-container .static-block.pausing {
  position: fixed;
  top: 0;
  left: 0;
}

.slider .slider-container .inner-container .static-block .section .title {
  font-family: "LampionW00-Regular";
  letter-spacing: .3rem;
  font-size: 2.4rem;
  font-weight: bolder;
  line-height: 4rem;
  padding-left: 1rem;
  text-shadow: 0 -1.2px 0 #333333, 0 3px 4px rgba(0, 0, 0, 0.4), 0 4px 5px rgba(0, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.21);
}
.slider .slider-container .inner-container .album {
  padding: 1rem;
  padding-top: 10rem;
}

.slider .slider-container .inner-container .album .album-item:before,
.slider .slider-container .inner-container .album .album-item:after {
  position: absolute;
  content: "";
  top: 25px;
  left: 20px;
  bottom: 150px;
  width: 80%;
  z-index: -1;
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  transform: rotate(-6deg);
}
.slider .slider-container .inner-container .album .album-item:before {
  box-shadow: 10px -10px 30px 15px rgba(120, 120, 120, 0.3);
}
.slider .slider-container .inner-container .album .album-item:after {
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  transform: rotate(7deg);
  bottom: 25px;
  top: auto;
  box-shadow: 10px 10px 30px 15px rgba(120, 120, 120, 0.3);
}
.slider .slider-container .inner-container .album .album-item .image-wrapper {
  width: 28rem;
  height: 28rem;
  position: relative;
}
.slider .slider-container .inner-container .album .album-item .image-wrapper .image {
  width: 28rem;
  height: 28rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  background-size: cover;
  transition: all 1s ease;
}


.slider .slider-container.current .sliding-block,
.slider .slider-container.current .static-block {
  position: fixed;
  top: 0;
  left: 0;
}
.slider .land-page {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-self: flex-start;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: #ccc;
  z-index: 130;
  background-size: cover;
  background-attachment: fixed;
}

.index-0 {
  z-index: 100;
}
.index-1 {
  z-index: 90;
}
.index-2 {
  z-index: 80;
}
.index-3 {
  z-index: 70;
}
