#root{
  height: 100%;
  width: 100%;
}

.container {
    max-width: 80rem;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: content-box;
  }

  .hamburger{
    position: fixed;
    top: 1.25rem;
    left: 1.25rem;
    z-index: 999;
    cursor: pointer;

    @include breakpoint(m){
      display: none;
    }
  }


.displayNone{
  display: none;
}
